@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #24252a; 
}

li,
a,
button {
  font-family: "MuseoModerno", cursive;
  font-weight: 100;
  font-size: 15px;
  color: aliceblue;
  text-decoration: none;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
}

.logo {
  cursor: pointer;
}
.nav {
  list-style: none;
}
.nav li {
  display: inline-block;
  padding: 0px 20px;
}
.nav li a {
  transition: all 0.3s ease 0s;
}
.nav li a:hover {
  color: #00a90e;
}
button {
  padding: 9px 25px;
  background-color: rgb(23, 170, 35);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
button:hover {
  background-color: rgba(0, 169, 23, 0.541);
}
hr {
  size: 1cm;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-x: hidden;
}
.home {
  height: 100vh;
  overflow: hidden;
}
.home .slide {
  position: absolute;
  left: 0;
  top: 1;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 1;
  display: flex;
  animation: slide 2s ease;
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: scale(1, 1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.slider{
  overflow: hidden;
}
.slider figure{
  position: relative;
  width: 500%;
  
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}
.slider figure img{
  object-fit: cover;
  width: 20%;
  float: left;
}
@keyframes slider{
  0%{
    left: 0;
  }
  20%{
    left: 0;
  }
  25%{
    left:-100%
  }
  45%{
    left: -100%;
  }
  50%{
    left: -200%;
  }
  70%{
    left: -200%;
  }
  75%{
    left: -300%;
  }
  95%{
    left: -300%;
  }
  100%{
    left: -400%;
  }
}
.social{
  display: flex;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%,-50%);
  /* width: 100%; */
}
.social li{
  list-style: none;
}
.social li a{
  width: 80px;
  height: 80px;
  /* background: #fff; */
  text-align: center;
  line-height: 80px;
  font-size: 35px;
  margin: 0px 10px;
  display: black;
  
  border-radius: 50%;
  position: relative;
  overflow:hidden;
  
  z-index: 1;
}
.social li a .fa{
  position: relative ;
  color: #ffffff; 
  transition: .5s;
}
.social li a:hover .fa{
  color: rgb(175, 172, 172);
  transform: rotate(360deg);
}
h1{
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #ffffff;
}
p{
  font-family:sans-serif;
  color: #ffffffab;
}